#event-title-heading {
    text-align: center;
}

#going-btn {
    padding: 2%;
    border: 1px solid black;
    /* margin-left: 10%; */
    border-radius: 25%;
    background-color: #6abf40;
}
#invite-btn {
    padding: 2%;
    /* position: absolute; */
    /* right: 0; */
    /* margin-right: 10%; */
    border: 1px solid black;
    border-radius: 25%;
    background-color: #6abf40;
}
#a-buttons {
    display: flex;
    justify-content: space-around;
    margin: 5% 2%;
}

#hike-preview-img {
    content: url("https://firebasestorage.googleapis.com/v0/b/trailmates-657f0.appspot.com/o/Garibaldi%2FGaribaldi%2FGaribaldiLake-PanoramaRidge.jpeg?alt=media&token=58476a8d-c68c-4fd7-9242-3328c860a14a");   
}

#description-p {
    margin: 2% 2%;
    padding: 5% 5%;
    border: 1px solid black;
}

#start-time {
    margin: 2% 5%;
}

#public-or-private {
    margin: 2% 5%;
}