.google {
    width: 25px;
    height: 25px;
}
.login-input-section {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-input {
    margin-top: 20px;
	margin-bottom: 10px;
}
.login-input-password {
    margin-bottom: 10px;
}

.sign-up {
    padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.first-name {
	margin-top: 30px;
	margin-bottom: 10px;
}
.last-name {
	margin-bottom: 10px;
}
.sign-up-id {
	margin-bottom: 10px;
}
.sign-up-pw {
	margin-bottom: 10px;
}
.email {
	margin-bottom: 10px;
}
.phone-num {
	margin-bottom: 10px;
}
.sign-with-google {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
    background-color: #f4f1e9;
}

#greeting {
    margin: 0 auto 10%; 
    text-align: center; 
    padding-top: 20%;
    background-color: #6ABF40;
}

img {
    width: 80%;
}

.footer_copyright {
    text-align: center;
}

#copyright {
    position: absolute;
    top: 94%;
    left: 40%;
}

#firebaseui-auth-container {
    margin: 10%;
    background-color: #f4f1e9;
}

form {
    background-color: white;
}

.firebaseui-card-header {
    background-color: #7EB35F;
}
.firebaseui-title{
    color: white;
}

/* next button */
.mdl-button--raised.mdl-button--colored {
    background-color: #7EB35F;
}

/* cancel button */
.mdl-button--primary.mdl-button--primary {
    color: #7EB35F;
}

/* policy */
.firebaseui-tos {
    display: none;
}