main {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.profileInfo {
    display: flex;
    flex-direction: row;
    background-color: deeppink;
}

.profileInfo .imageName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 50%;
    max-width: 200px;
}

.utility {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: limegreen;
}

.tags {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: deepskyblue;
    padding: 10px;
    flex-wrap: wrap;
}


.tags .tagCard {
    text-align: center;
    border-color: #555;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 5px 5px #555;
    padding: 6px 4px 1px 4px;
}

.bio {
    display: flex;
    background-color: chocolate;
    padding: 10px;
}

.profileImages {
    display: flex;
    flex-direction: row;
    background-color: purple;
}
