
main {
    display: flex;
    flex-direction: column;
}

/* Remove this */
/* vvvvvvvvvvv */
div {
    border: black solid;
}
/* ^^^^^^^^^^^ */
/* Remove this */


.profileInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.profileInfo .imageName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 50%;
    max-width: 200px;
}

.basicInfo {
    display: flex;
    flex-direction: row;
    max-width: 200px;
}

.basicInfo:nth-child(n){
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.age-gender {
    display: flex;
    flex-direction: column;
width: 100%;
}

.age-gender p {
    margin: 0 0 0 0;
}

.repBadge{
    width: 50%;
}

.totalHikes {
    width: 50%;
}

.utility {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.tags .tagCard {
    text-align: center;
    border-color: #555;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 5px 5px #555;
    padding: 6px 4px 1px 4px;
}

.bio {
    display: flex;
    padding: 2vw 10vw 0.5vw 10vw;
}

.profileImages {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-content: center;
    grid-gap: 2vw;
padding-top: 2vw;
}

.profileImages img {
    width: 40vw;
    object-fit: cover;
    height: 40vw;
}


